p{margin-bottom: 0;}
label{margin-bottom: 0;}
textarea{resize: none}
.pr-60{input{padding-right: 60px;}}
.z-1{z-index: 1}
.d-middle{ display: flex; align-items: center; }
.d-middle-center{ display: flex; align-items: center; justify-content: center; }
.obj-cover{ object-fit: cover; }
.obj-center{ object-position: center;}
.vertical-middle{ vertical-align: middle !important; }
.sombra-img{box-shadow: 0 2px 4px 0px #bcbcbc;}
.hover-options:hover{background:#F1F1F1;cursor: pointer;}
.m-0-radio{ div{margin: 0px !important; div{margin: 0px !important; div{margin: 0px !important; div{margin: 0px !important}}}}}
.icono-ajuste::before{
    display: contents!important;
}
.bg-gris{
    background: #c1c1c1!important
}
#outer.no-imagen{
  background-image: none!important;
}

:root {
    --color-general: #5D5D5D
}

.bg-general{
    background: var(--color-general);
}
.text-general{
    color: var(--color-general);
}
.btn-general{
    display: flex;
    align-items: center;
    background: var(--color-general);
    color: white;
    &:hover{
        background: #414141;
        color: white;
    }
}
.el-dialog__body{
    padding-top: 10px!important;
    min-height: 10vh !important;
    max-height: 50vh !important;
    overflow-y: auto;
}
.el-dialog__body::-webkit-scrollbar-track{
    height: 6px; width:6px; -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1); background-color:#F5F5F5; border-radius: 5px;
}
.el-dialog__body::-webkit-scrollbar{
    background-color:#F5F5F5; width:6px; height: 6px; border-radius: 5px;
}
.el-dialog__body::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1); background-color:#878787; border-radius: 5px;
}
.el-dialog__wrapper{
  display: flex;
  align-items: center;
  .el-dialog{
    margin: auto!important;
  }
}
.cr-pointer{cursor: pointer;}
.cr-bloqueo{cursor: not-allowed;}
.cr-grabbing{cursor: grabbing;}

/* sola lina con - tres puntos al final */
.tres-puntos{ white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.rompe-palabras{word-break: break-all;}
/* Scrolls */
.scrollY{ overflow-y: scroll; }
.scrollX{ overflow-x: scroll; }
.input-form{
    max-width: 900px;
    // min-width: 390px;
}
/* // scrol personalizado */
.custom-scroll::-webkit-scrollbar-track{ height: 6px; width:6px; -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1); background-color:#F5F5F5; border-radius: 5px; }
.custom-scroll::-webkit-scrollbar{ background-color:#F5F5F5; width:6px; height: 6px; border-radius: 5px; }
.custom-scroll::-webkit-scrollbar-thumb{ -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.1); background-color:#878787; border-radius: 5px; }

.custom-scrollw::-webkit-scrollbar-track{ height: 6px; width:6px; -webkit-box-shadow:inset 0 0 6px #F5F5F5; background-color:rgba(0,0,0,0.1); border-radius: 5px; }
.custom-scrollw::-webkit-scrollbar{ background-color:rgba(0,0,0,0.1); width:6px; height: 6px; border-radius: 5px; }
.custom-scrollw::-webkit-scrollbar-thumb{ -webkit-box-shadow:inset 0 0 6px #F5F5F5; background-color:#F5F5F5; border-radius: 5px; }
/* // scrol personalizado-0 */
.scroll-none::-webkit-scrollbar-track{ height: 6px; width:6px; -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.0); background-color:transparent; border-radius: 5px; }
.scroll-none::-webkit-scrollbar{ background-color:transparent; width:6px; height: 6px; border-radius: 5px; }
.scroll-none::-webkit-scrollbar-thumb{ -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.0); background-color:transparent; border-radius: 5px; }
/* Drawer */
.el-drawer__header {
    margin-bottom: 0px!important;
}
.el-drawer{
  &:focus{
    outline: none;
  }
}
.el-drawer__header{
  span{
    &:focus{
      outline: none;
    }
  }
  .el-drawer__close-btn{
    &:focus{
      outline: none;
    }
  }
}
/* Drawer */
.slim-area{
    position: absolute;
    top: 0px;
}
.pr-input{
    input{padding-right: 62px;}
}
.color-pdf{color:#D93025;}
.color-img{color: #00B41E;}
.color-video{color: #0090FF}
.color-pw{color: #FF5900}
/* font-weigth - Negrilla */
.f-100{ font-weight: 100 !important; }
.f-300{ font-weight: 300 !important; }
.f-400{ font-weight: 400 !important; }
.f-500{ font-weight: 500 !important; }
.f-600{ font-weight: 600 !important; }
.f-800{ font-weight: 800 !important; }
/* font-size - tamaño de fuente*/
.f-9{ font-size: 9px !important; }
.f-10{ font-size: 10px !important; }
.f-11{ font-size: 11px !important; }
.f-12{ font-size: 12px !important; }
.f-13{ font-size: 13px !important; }
.f-14{ font-size: 14px !important; }
.f-15{ font-size: 15px !important; }
.f-16{ font-size: 16px !important; }
.f-17{ font-size: 17px !important; }
.f-18{ font-size: 18px !important; }
.f-19{ font-size: 19px !important; }
.f-20{ font-size: 20px !important; }
.f-21{ font-size: 21px !important; }
.f-22{ font-size: 22px !important; }
.f-23{ font-size: 23px !important; }
.f-24{ font-size: 24px !important; }
.f-25{ font-size: 25px !important; }
.f-26{ font-size: 26px !important; }
.f-28{ font-size: 28px !important; }
.f-30{ font-size: 30px !important; }
.f-31{ font-size: 31px !important; }
.f-32{ font-size: 32px !important; }
.f-35{ font-size: 35px !important; }
.f-40{ font-size: 40px !important; }
.f-50{ font-size: 50px !important; }
.f-60{ font-size: 60px !important; }
/* line-heigth - Interlineado */
.lh-1{ line-height: 1 !important; }
.lh-8{ line-height: 8px !important; }
.lh-12{ line-height: 12px !important; }
.lh-13{ line-height: 13px !important; }
.lh-14{ line-height: 14px !important; }
.lh-15{ line-height: 15px !important; }
.lh-16{ line-height: 16px !important; }
.lh-17{ line-height: 17px !important; }
.lh-18{ line-height: 18px !important; }
.lh-19{ line-height: 19px !important; }
.lh-20{ line-height: 20px !important; }
.lh-21{ line-height: 21px !important; }
.lh-22{ line-height: 22px !important; }
.lh-23{ line-height: 23px !important; }
.lh-24{ line-height: 24px !important; }
.lh-25{ line-height: 25px !important; }
.lh-26{ line-height: 26px !important; }
.lh-32{ line-height: 32px !important; }
/* border-radius */
.br-2{ border-radius: 2px !important; }
.br-3{ border-radius: 3px !important; }
.br-4{ border-radius: 4px !important; }
.br-8{ border-radius: 8px !important; }
.br-5{ border-radius: 5px !important; }
.br-10{ border-radius: 10px !important; }
.br-20{ border-radius: 20px !important; }
.br-l-20{ border-radius: 20px 0px 0px 20px!important; }
.br-r-20{ border-radius: 0px 20px 20px 0px!important; }
.br-50{ border-radius: 50px !important; }
.br-l-2 { border-radius: 2px 0px 0px 2px }
.br-r-2 { border-radius: 0px 2px 2px 0px }
.br-t-5 { border-top-right-radius: 5px !important; border-top-left-radius: 5px !important; }
.br-b-5 { border-bottom-right-radius: 5px !important; border-bottom-left-radius: 5px !important; }
.br-l-5 { border-radius: 5px 0px 0px 5px }
.br-r-5 { border-radius: 0px 5px 5px 0px }
.br-t-4 { border-top-right-radius: 4px !important; border-top-left-radius: 4px !important; }
.br-t-8 { border-top-right-radius: 8px !important; border-top-left-radius: 8px !important; }
.br-b-4 { border-bottom-right-radius: 4px !important; border-bottom-left-radius: 4px !important; }
.br-l-4 { border-radius: 4px 0px 0px 4px }
.br-r-4 { border-radius: 0px 4px 4px 0px }

// backgrounds
.bg-collapse{.el-collapse-item__header{background: #F1F2F4}}
.bg-whitesmoke { background-color: #f5f5f5 }
.bg-smoke{ background: #F1F2F4; }

//borders
.border-y{border-bottom: 1px solid #dee2e6; border-top: 1px solid #dee2e6;}
.border-x{border-right: 1px solid #dee2e6; border-left: 1px solid #dee2e6;}
.border-left-whitesmoke{border-left: 6px solid whitesmoke!important}

// fullsmart
.btn-cerrar{
  background: #dddddd;
  border-radius: 4px;
  color:#5d5d5d;
  font-size: 12px;
  width: 80px;
}
//select border none element
.no-border{
  .el-input__inner{
      border: 0px;
  }
}

.box{
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  background: white;
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.box-0{
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 4px;
  background: white;
}

.el-input{
    background: transparent;
}

//                   tabs

// .el-tabs__item.is-active {
//     background: #5D5D5D!important;
//     color: white!important;
// }


//                  estilo tooltip
.el-tooltip__popper {
    max-width: 320px;

    &.is-light {
        box-shadow: 0px 3px 6px #00000050;
        border: 1px solid #e6e6e6 !important;
    }

    &.is-light[x-placement^=top] .popper__arrow {
        border-top-color: #e6e6e6 !important;
    }

    &.is-light[x-placement^=top] .popper__arrow::after {
        border-top-color: #F5F5F5;
    }

    &.is-light[x-placement^=bottom] .popper__arrow {
        border-bottom-color: #e6e6e6 !important;
    }

    &.is-light[x-placement^=bottom] .popper__arrow::after {
        border-bottom-color: #F5F5F5;
    }

    &.is-light[x-placement^=left] .popper__arrow {
        border-left-color: #e6e6e6 !important;
    }

    &.is-light[x-placement^=left] .popper__arrow::after {
        border-left-color: #F5F5F5;
    }

    &.is-light[x-placement^=right] .popper__arrow {
        border-right-color: #e6e6e6 !important;
    }

    &.is-light[x-placement^=right] .popper__arrow::after {
        border-right-color: #F5F5F5;
    }

}
